kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: mybank-cluster
nodes:
  # Control plane node
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
    extraPortMappings:
      # API Gateway
      - containerPort: 30080
        hostPort: 8080
        protocol: TCP
      # Eureka Dashboard
      - containerPort: 30761
        hostPort: 8761
        protocol: TCP
      # Grafana
      - containerPort: 30300
        hostPort: 3000
        protocol: TCP
      # Prometheus
      - containerPort: 30900
        hostPort: 9090
        protocol: TCP
      # Kafka UI
      - containerPort: 30090
        hostPort: 8090
        protocol: TCP
  # Worker nodes
  - role: worker
  - role: worker
