server:
  port: 8083

spring:
  application:
    name: payment-service

  data:
    mongodb:
      host: localhost
      port: 27017
      database: mybank_payment

    redis:
      host: localhost
      port: 6379

  kafka:
    bootstrap-servers: localhost:9092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.mybank.payment: DEBUG
    org.springframework.kafka: INFO
