server:
  port: 8084

spring:
  application:
    name: investment-service

  data:
    mongodb:
      host: localhost
      port: 27017
      database: mybank_investment

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: investment-service
      auto-offset-reset: earliest
      enable-auto-commit: false

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.mybank.investment: DEBUG
    org.springframework.kafka: INFO
